# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Windows system files
Thumbs.db
Desktop.ini

# IDE and editor files
.idea/
.vscode/

# Dependency directories
node_modules/
venv/
virtualenv/
target/

# Compiled files
*.class
*.o
*.obj
*.pyc
*.pyo
*.pyd
*.js
*.js.map

# Logs and temporary files
*.log
temp/
tmp/

# Configuration files
config/
.gitignore

# Allow index.js
!index.js
